# 1. Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# 2. Next.js & Build Output
/.next/
/out/
/build
/dist
/.turbo
/public/previews # Jika Anda punya folder preview otomatis

# 3. Environment Variables (Sangat Penting!)
# Kita abaikan semua file .env untuk keamanan
.env*
!.env.example # Kecuali file contoh (untuk dokumentasi tim)

# 4. Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
/logs

# 5. Editor & IDE (Menghindari konfigurasi lokal editor ikut ter-upload)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json # Opsional: jika ingin share setting ke tim, hapus baris ini
.idea/
*.swp
*.swo

# 6. OS Metadata
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# 7. Testing & Coverage
/coverage
/.nyc_output

# 8. Typescript & Metadata vercel
*.tsbuildinfo
next-env.d.ts
.vercel

# 9. Miscellaneous
*.pem
*.key
.eslintcache