@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme {
  /* Mapping variabel CSS ke utilitas Tailwind */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-muted: var(--muted);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --card: #ffffff;
  --border: #e4e4e7;
  --muted: #f4f4f5; /* Zinc 100 */
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b; /* Zinc 900 */
  --border: #27272a; /* Zinc 800 */
  --muted: #27272a; /* Zinc 800 */
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
}

/* Membuat scrollbar lebih cantik */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

/* Mengatur agar saat di-scroll ke ID, konten tidak tertutup navbar fixed */
section {
  scroll-margin-top: 80px;
}

/* Menghilangkan logo Next.js Dev Indicator secara paksa */
nextjs-portal {
  display: none !important;
}

/* Tambahan jika portal di atas belum mencakup semua versi */
#node-inject {
  display: none !important;
}